* {
    box-sizing: border-box;
}

.main-content {
    padding: 0.5rem 1rem;
    height: 90vh;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.main-header > a {
    display: inline-block;
    margin-right: 0.5rem;
    text-decoration: none;
    color: darkgrey;
    font-size: 1rem;
    border-radius: 0.4rem;
    background-color: white;
    padding: 1rem 0.5rem;
}

.main-header > a:hover,
.main-content > a:active {
    font-size: 1.2rem;
    color: white;
    background-color: darkgrey;
}

input {
    padding: 0.5rem 1rem;
    background-color: white;
    color: black;
}

button {
    padding: 0.5rem 1rem;
    background-color: darksalmon;
    color: white;
}

.forecast-container {
    position: absolute;
    margin: 1rem 0.5rem;
    padding: 1rem;
    border: 2px solid black;
    box-shadow: 2px 2px 4px 4px rgba(233, 233, 250, 0.5);
    height: 70%;
    width: 97%;
    top: 20%;
}

.weather-icon {
    margin-top: 5rem;
}

.forecastParagraph {
    width: 66%;
    margin: auto;
}

.forecastError {
    width: 66%;
    margin: auto;
}

.main-footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    text-align: center;
}

